<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymleaf.org"
      th:replace="~{fragments/layout :: template (~{:: #review-content})}">
<section id="review-content">
    <div class="container">
        <table class="review-list">
            <label>Opinie</label>
            <tr th:each="review : ${reviews}">
                <td>
                    <h4 th:text="${review.firstName} + ' ' + ${review.lastName}"></h4>
                    <p th:text="${review.review}"></p>
                </td>
            </tr>
        </table>
    </div>
    <div class="container">
        <form class="review-form" method="post" th:object="${review}">
            <label>Dodaj nową opinię</label>
            <div>
                <input th:field="*{firstName}" type="text" placeholder="Imię" class="input">
            </div>
            <div>
                <input th:field="*{lastName}" type="text" placeholder="Nazwisko" class="input">
            </div>
            <div>
                <input th:field="*{review}" type="text" placeholder="Twoja opinia..." class="input">
            </div>
            <div>
                <button class="btn">Dodaj</button>
            </div>
        </form>
    </div>
</section>
</html>